
* {
	margin: 0;
	box-sizing: border-box;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
	background-color:#417D7A;
	color: #EDE6DB;
}

.container {
	text-align: center;
	background-color: #1D5C63;
	width: 100%;
	max-width: 360px;
	margin: 14rem auto;
	padding: 1rem 2rem;
	border-radius: 1rem;
}

.container .time {
	font-size: 4rem;
	font-weight: 500;
	margin-top: 2.5rem;
	align-items: center;
}

.controls {
	display: flex;
	align-items: center;
	justify-content: center;
}

.controls button {
	appearance: none;
	background: none;
	outline: none;
	border: none;
	cursor: pointer;

	margin: 0 0.5rem;
	padding: 1rem 2rem;
	border-radius: 0.5rem;

	color: #FFF;
	background-color: #1A3C40;

	transition: 0.4s;
	user-select: none;
}

.controls button:hover {
	opacity: 0.7;
}

.controls button:active {
	background-color:#417D7A;
}